extends layout

block content  
  div
    table
        thead
            
        tbody
            each box in boxes
                tr
                    each s in box
                        td #{s}